<header>
  <div class="logo">
    <span class="p">P</span>
    <span class="p">o</span>
    <span class="p">r</span>
    <span class="p">t</span>
    <span class="f">f</span>
    <span class="f">o</span>
    <span class="f">l</span>
    <span class="f">i</span>
    <span class="f">o</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/about" routerLinkActive="active"><span>01.</span> About</a></li>
      <li><a routerLink="/experience" routerLinkActive="active"><span>02.</span> Experience</a></li>
      <li><a routerLink="/work" routerLinkActive="active"><span>03.</span> Work</a></li>
      <li><a routerLink="/contact" routerLinkActive="active"><span>04.</span> Contact</a></li>
    </ul>
    <div>
      <a class="resume-button" href="/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
    </div>
  </nav>
</header>
