<header>
  <a class="logo" href="#" aria-label="Home">
    <span class="mono">&lt;</span>MA<span class="mono">/&gt;</span>
  </a>

  <nav [ngClass]="{'active': isMenuOpen}">
    <ul>
      <li><a href="#about" (click)="closeMenu()"><span>01.</span> About</a></li>
      <li><a href="#experience" (click)="closeMenu()"><span>02.</span> Experience</a></li>
      <li><a href="#work" (click)="closeMenu()"><span>03.</span> Work</a></li>
      <li><a href="#contact" (click)="closeMenu()"><span>04.</span> Contact</a></li>
    </ul>
    <div>
      <a class="resume-button" href="assets/resume/Mohamed_Atef_Frontend_Developer_CV.pdf" target="_blank">Resume</a>
    </div>
  </nav>

  <div class="menu" (click)="toggleMenu()">
    <i *ngIf="!isMenuOpen" class="pi pi-bars"></i>
    <i *ngIf="isMenuOpen" class="pi pi-times"></i>
  </div>
</header>
