<section>
  <main>
    <div class="hi">
      <h1>Hi, I’m</h1>
    </div>
    <div class="name">
      <h2>Mohamed Atef</h2>
    </div>
    <div class="enjoy">
      <h3>Frontend Developer | Angular Specialist.</h3>
    </div>
    <div class="bref">
      <p>
        I craft modern, responsive, and user-centric web applications with a
        strong focus on performance, scalability, and clean code. With deep
        expertise in Angular and front-end architecture, I bring ideas to life
        through seamless, interactive digital experiences.
      </p>
    </div>
  </main>
</section>
