<section>
  <main>
    <div class="hi">
      <h1>Hi,  My  Name  Is</h1>
    </div>
    <div class="name">
      <h2>Mohamed Atef</h2>
    </div>
    <div class="enjoy">
      <h3>I Enjoy creating things.</h3>
    </div>
    <div class="bref">
      <p> A passionate Frontend Developer specializing in building interactive, user-friendly web applications. With a focus on modern web technologies like Angular, I create scalable solutions that deliver seamless digital experiences. Let’s work together to bring your ideas to life!</p>
    </div>
  </main>
</section>