<section>
  <h2 class="head">About Me</h2>
  <div class="container">
    <div class="about-me">
      <div class="bref">
        <p>
          Hello! My name is Mohamed Atef, a dedicated Frontend Developer with
          experience in building dynamic, responsive, and high-performance web
          applications. My core expertise revolves around modern technologies
          like Angular enabling me to create scalable, maintainable code that
          powers exceptional user experiences.
        </p>
        <p>
          With a keen eye for detail and a passion for clean, efficient code, I
          excel in translating complex requirements into intuitive, visually
          engaging interfaces. I have successfully contributed to a variety of
          projects, from high-traffic web applications to elegant landing pages,
          focusing on optimizing performance and enhancing usability.
        </p>
        <p>
          My approach is grounded in problem-solving and continuous improvement.
          I stay ahead of industry trends and best practices to bring the latest
          innovations to the projects I work on. I’m not just a coder; I’m a
          solution-oriented developer who thrives in collaborative environments,
          working closely with cross-functional teams to deliver results that
          align with business goals and user needs.
        </p>
      </div>
      <div class="skills">
        <p>Key Competencies:</p>
        <ul>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>Angular</li>
        </ul>
      </div>
    </div>
    <div class="image">
      <img src="assets/cover.jpg" alt="Cover" title="cover">
    </div>
  </div>
</section>
