.container{
  display: flex;
  justify-content: space-between;
}

.left-side{
  width: 10%;
}
.right-side{
  width: 10%;
}
.hero{
  width: 80%;
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .right-side{
    width: 1%;
  }
  .left-side{
    width: 1%;
  }
  .hero{
    width: 80%;
  }

}
